{% load staticfiles %}
<!DOCTYPE html>
  <html>
    <head>
      <title> RHS Track and Field </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'track/base.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'track/profile.css' %}" />
      <link rel='stylesheet' type='text/css'
      href='http://fonts.googleapis.com/css?family=Libre+Baskerville' >
    </head>
  
  <body>
    <div class="container">
  	  <h1>Roseburg Track and Field</h1>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div>
            <ul class="nav navbar-nav">
              <li><a href="{% url 'track:index' %}"><i class="fa fa-home fa-fw"></i>Home</a></li> 
              <li><a href="{% url 'admin:index' %}"><i class="fa fa-user fa-fw"></i>Admin</a></li>
              <li><a href="{% url 'track:athlete_list' %}"><i class="fa fa-trophy fa-fw"></i>Roster</a></li> 
            </ul>
          </div>
        </div>
      </nav>
      
      <h2 class="text-center">Roster</h2>

      <form role="form" action="/track/athletes/" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" name="search_term" 
          placeholder="&#xf002;">
        </div>
      </form>
      
      <p class="text-center">
        <a id="add" href="{% url 'track:athlete_create_form' %}">
          <i class="fa fa-plus fa-fw"></i>Athlete
        </a>
      </p>
      
      <hr>
        
      <div class="container-fluid">
        {% if athletes %}
          {% for a in athletes %}
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li>
                  <h5><small>{{ a.year }} {{ a.gender }}</small>
                  <a href="{% url 'track:athlete_profile' a.id %}"> - {{a.first_name}} {{a.last_name}}</a></h5>
                </li>
              </ul>
            </div>
          {% endfor %}
        {% else %}
          <p class="text-center"> No Results </p>
        {% endif %}
      </div>
    
    </div>
  </body>
</html>
    
  
