{% load staticfiles %}

<!DOCTYPE html>
  <html>
    <head>
      <title> RHS Track and Field </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'track/base.css' %}" />
      <link rel='stylesheet' type='text/css'
      href='http://fonts.googleapis.com/css?family=Libre+Baskerville' >
    </head>

  <body>
    <div class="container">
  	  <h1>Roseburg Track and Field</h1>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div>
            <ul class="nav navbar-nav">
              <li><a href="{% url 'track:index' %}"><i class="fa fa-home fa-fw"></i>Home</a></li> 
              <li><a href="{% url 'admin:index' %}"><i class="fa fa-user fa-fw"></i>Admin</a></li>
              <li><a href="{% url 'track:athlete_list' %}"><i class="fa fa-trophy fa-fw"></i>Roster</a></li> 
            </ul>
          </div>
        </div>
      </nav>

      {% for event_profile in event_profiles %}
        <table class="table">
        <caption>
          <h2>{{ event_profile.event.get_gender_display }} {{event_profile.event.event_name }}</h2>
        </caption>
        <tr>
          <th class="text-center">Athlete</th>
          <th class="text-center">Time/Distance</th>
          <th class="text-center">Date</th>
        {% for record in event_profile.records %}
          <tr>
          <td class="text-center">
            <a href="{% url 'track:athlete_profile' record.athlete.id %}">{{ record.athlete }}</a></td>
          <td class="text-center">{{ record.time_dist }}</td>
          <td class="text-center">{{ record.date }}</td>
        {% endfor %}
        </table>
        <hr>
      {% endfor %}
    </div>
  </body>
</html>